<h2>Users found</h2>
<div class='found_by_query_users'>

  <%= render 'layouts/queryinfo' %>
  <%= render 'layouts/query' %>

  <% if !@response.empty? %>
      <%= render 'layouts/result_table' %>
  <% else %>
      <%= render 'layouts/noresult' %>
  <% end %>


</div>

