<div id="header">
  <%= link_to "Home", root_path, :class => "header", :text => "Home" %>
  <%= link_to "Run Query", runquery_path, :class => "header", :text =>"Run Query" %>
  <%= link_to "Get Entitlements", partyid_path, :class => "header", :text =>"Get Entitlements" %>
</div>
