<div class="user_ent">
  <table class="ent_datagrid">
    <tr>
      <th>PartyID</th>
      <th>Entitlements</th>
    </tr>

    <% @user_ent.each { |key, value| %>
    <tr>
      <td><%= key %></td>
      <td><%= value %></td>
    </tr>
    <% } %>
  </table>

  <%= puts @user_ent.inspect%>

</div>